.restaurant-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.restaurant-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(52, 73, 94, 0.15);
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.restaurant-card:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 24px rgba(52, 73, 94, 0.25);
}

.restaurant-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.restaurant-card h2 {
    padding: 10px;
    text-align: center;
}
.restaurant-card p {
    text-align: center;
}



